
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-author: "Author-Regular", "sans-serif";

  --breakpoint-sm: 390px;
  --breakpoint-sm-mid: 428px;
  --breakpoint-sm-mids: 526px;
  --breakpoint-sm-large: 640px;
  --breakpoint-md: 800px;
  --breakpoint-md-mid: 1024px;
  --breakpoint-lg: 1200px; 
  --breakpoint-xl: 1440px;
  --breakpoint-xl-mid: 1536px;
  --breakpoint-xl-mids: 1550px;
  --breakpoint-2xl: 1700px;

  --color-primary:  #000000 ;
  --color-secondary: #ffffff ;
  --color-tertiary: #25454A ;
  --color-quaternary: #D0D2D3;
  --color-quinary:#666666;
  --color-senary: #EF4C00;

}

@layer utilities {
  .bg-fundimage {
    background-image: url('../public/fund01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg-navimage {
    background-image: url('../public/fund002.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}

@font-face {
  font-family: "Author-Regular";
  src: url("./fonts/Author-Regular.woff") format('woff');
  font-style: normal;
  font-display: swap;
}


