
@import "tailwindcss";




@theme {
  --font-author: "Author-Regular", "sans-serif";
 
  --breakpoint-sm: 393px;
  --breakpoint-md: 830px;
  --breakpoint-lg: 1200px; 
  --breakpoint-xl: 1440px;
 

 
      

  --color-primary:  #000000 ;
  --color-secundary: #ffffff ;
  --color-tertiary: #FB8C00 ;
  --color-quaternary: #D0D2D3;
  --color-quinary:#666666;
  --color-senary: #EF4C00;


  
}

/*
@layer utilities {
  .bg-banner {
    background-image: url('../public/video/teste05.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
 

}
*/
@font-face {
  font-family: "Author-Regular";
  src: url("./fonts/Author-Regular.woff") format('woff');
  font-style: normal;
  font-display: swap;
}